$logo-color: 			#bbb;
$logo-color-hover: 		#aaa;

$text-color-100: 		#666;
$text-color-200: 		#fff;
$text-color-300: 		#000;

$link-color-100: 		#666;

$header-bg: 			#fff;
$nav-ul-bg: 			#ddd;
$nav-hover-bg: 			#eee;
$nav-mobile-lvl2-bg: 	#eee;