/* $base-fontfamily: Sans-Serif; */
/* $base-fontfamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; */
$base-fontfamily: 'Source Sans Pro', "Helvetica", Helvetica, Arial, sans-serif;

$base-fontweight: normal;
$base-fontsize: 17px;
$base-lineheight: 1.6em;

$nav-font-size: 17px;
$nav-font-size-mobile: 16px;