/* $base-fontfamily: Sans-Serif; */
$base-fontfamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

$base-fontweight: normal;
$base-fontsize: 16px;
$base-lineheight: 1.6em;

$nav-font-size: 14px;