{{>html-header}}
	{{>site-nav}}
	<img src="img/header.jpg" alt="" class="img-header">
	<div class="page-wrapper">
		<section class="section-main">
			<!--h2>{{this.page.title}}</h2-->
			{{>body}}
		</section>
		{{>site-sidebar}}
	</div>
{{>html-footer}}