*,
*:before,
*:after {
	box-sizing: border-box; 
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	font-family: $base-fontfamily;
	font-size: $base-fontsize;
	font-weight: $base-fontweight;
	line-height: $base-lineheight;
	text-rendering: optimizeLegibility;
	color: $text-color-100;
}

a {
	text-decoration: none;
	word-break: break-word;
	color: $link-color-100;

	&:focus,
	&:hover,
	&:active {
		color: $text-color-300;
	}
}

.page-wrapper {
	max-width: $page-wrapper-width;
	margin: 0 auto;
}