*,
*:before,
*:after {
	box-sizing: border-box; 
}

html {
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	font-family: $base-fontfamily;
	font-size: $base-fontsize;
	font-weight: $base-fontweight;
	line-height: $base-lineheight;
	text-rendering: optimizeLegibility;
	color: $text-color-100;
}

a {
	text-decoration: none;
	word-break: break-word;
	color: $link-color-100;

	&:focus,
	&:hover,
	&:active {
		color: $text-color-300;
	}
}

hr {
	border: solid #dddddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 1.25rem 0 1.1875rem;
	height: 0;
}

.page-wrapper {
	@include clearfix;
	max-width: $page-wrapper-width;
	margin: 0 auto;
	padding: 0 15px;
}