.menu-toggle {
	float: right;
	padding: $menu-padding;
	display: block;
	cursor: pointer;
	@include breakpoint(tablet) {
		display: none;
	}
}

.sub-toggle {
	font-family: sans-serif;
	display: block;
	width: 100%;
	height: 40px;
	line-height: 30px;
	text-align: right;
	position: absolute;
	right: 15px;
	top: 0;
	font-size: 1.5em;
	cursor: pointer;
	@include breakpoint(tablet) {
		display: none;
	}
}

.nav-main {
	float: left;
	width: 100%;
	@include breakpoint(tablet) {
		float: right;
		width: auto;
	}

	ul {
		display: none;
		padding: 0;
		margin: 0;
		@include breakpoint(tablet) {
			display: block;
		}
		@include clearfix;

		li {
			list-style: none;
			@include breakpoint(mobileonly) {
				position: relative;
			}
			@include breakpoint(tablet) {
				float: left;
			}

			a {
				display: block;
				font-size: $nav-font-size-mobile;
				text-align: center;
				line-height: 40px;
				&:hover {
					color: $text-color-100;
				}
				@include breakpoint(tablet) {
					font-size: $nav-font-size;
					padding: $menu-padding;
					line-height: 1.8em;
				}
			}

			&:hover {
				@include breakpoint(tablet) {

					a {
						background: $nav-hover-bg;
						text-align: left;
					}

					ul {
						display: block;
						position: absolute;
						background: $nav-ul-bg;

						li {
							float: none;
						}

						a {
							background: none;
							padding: $menu-padding-lr;
							line-height: $menu-line-height;
							&:hover {
								background: $nav-hover-bg;
							}
						}
					}
				}
			}
		}

		ul {
			background: $nav-mobile-lvl2-bg;
			@include breakpoint(tablet) {
				display: none;
			}
		}
	}
}