@import "susy";

$susy: (
	columns: 12, 
	global-box-sizing: border-box 
);

.section-main {
	@include breakpoint(desktop) {
		@include span(8);
	}
}

.aside-main {
	@include breakpoint(desktop) {
		@include span(4 last); 
	}
}