@import "susy";

$susy: (
	columns: 12,
	gutters: .4,
	global-box-sizing: border-box
);

body {
	margin: 0;
	@include breakpoint(tablet) {
		padding-top: $header-height;
	}
}

.header-main {
	background: $header-bg;
	border-bottom: 1px solid #eee;
	@include breakpoint(tablet) {
		position: fixed;
		width: 100%;
		z-index: 999;
		top: 0;
	}
	.page-wrapper {
		padding: 0;
		@include breakpoint(tablet) {
			padding: 0 15px;
		}
	}
}

.logo {
	color: $logo-color;
	font-size: 1.5em;
	line-height: $header-height;
	float: left;
	margin-left: 15px;
	@include breakpoint(tablet) {
		margin: 0px;
	}
	&:hover {
		color: $logo-color-hover;
	}
}

.section-main {
	margin: 45px 0 25px;
}

.aside-main {
	@include breakpoint(tablet) {
		@include span(4 last); 
	}
}

.footer-main {
	background: $footer-bg;
	color: $footer-text-color;
	padding: 50px 0;
	a {
		color: $footer-link-color;
		font-weight: bold;
		&:hover {
			color: $footer-link-color-hover;
		}
	}
	.col {
		@include breakpoint(tablet) {
			@include span(3); 
		}
		&.last {
			@include breakpoint(tablet) {
				@include span(3 last); 
			}
		}
	}
	.footer-bottom {
		text-align: center;
		margin: 50px auto;
	}
}