@import "susy";

$susy: (
	columns: 12, 
	global-box-sizing: border-box 
);

body {
	margin: 0;
}

.img-header {
	width: 100%;
	height: auto;
}

.section-main {
	@include breakpoint(tablet) {
		@include span(8);
	}
}

.aside-main {
	@include breakpoint(tablet) {
		@include span(4 last); 
	}
}