<section class="section-feature">
	<div class="page-wrapper">
		<ul class="feature-cards">
			<li>
				<div class="feature-card">
					<div class="image-wrap">
						<img src="img/320x460.jpg" alt="">
					</div>
					<div class="content">
						<h3>Lorem ipsum dolor sit amet</h3>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit.</p>
						<a href="" class="button">learn more</a>
					</div>
				</div>
			</li>
			<li>
				<div class="feature-card">
					<div class="image-wrap">
						<img src="img/320x460.jpg" alt="">
					</div>
					<div class="content">
						<h3>Lorem ipsum dolor sit amet</h3>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit.</p>
						<a href="" class="button">learn more</a>
					</div>
				</div>
			</li>
			<li class="last-child">
				<div class="feature-card">
					<div class="image-wrap">
						<img src="img/320x460.jpg" alt="">
					</div>
					<div class="content">
						<h3>Lorem ipsum dolor sit amet</h3>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit.</p>
						<a href="" class="button">learn more</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>