<aside class="aside-main">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum est necessitatibus iure, praesentium assumenda beatae blanditiis quaerat sed amet accusantium voluptatem voluptate velit sint aut magnam quam aliquam reiciendis laboriosam?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat veniam fuga molestiae perspiciatis. Esse voluptas alias aliquam nulla veniam, accusamus reprehenderit earum accusantium id! Suscipit et, eveniet qui provident consectetur!</p>
</aside>