---
title: "Home"
---

<section class="section-stage">
	<div class="page-wrapper">
		<div class="text">
			<h1>The Fastest Boilerplate Yet.</h1>
			<br>
			<h4>Boilerplate is our fastest, best build yet. It’s packed with features to help you code and learn faster than ever before.</h4>
		</div>
		<div class="image">
			<img src="img/iphone-white.png" alt="">
		</div>
	</div>
</section>

<section class="section-teaser">
	<div class="page-wrapper">
		<h4 class="subheader">There’s so much shiny awesomeness in this release we think it speaks for itself. In case it doesn’t though, here’s a rundown on some of the new (and existing) features in the first, most-advanced responsive framework out there.</h4>
	</div>
</section>

{{>section-feature}}